* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  letter-spacing: -0.3px;
}

body {
  background: #0f0f0f;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* Estrutura principal */
.container {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* Título */
h1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #222;
  padding-bottom: 18px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

input,
select {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #2b2b2b;
  padding: 14px 4px;
  font-size: 1.05rem;
  transition: border 0.3s;
}

input:focus,
select:focus {
  border-bottom: 2px solid #ffffff;
}

/* Botão */
button {
  background: #ffffff;
  color: #0f0f0f;
  border: none;
  padding: 16px;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

button:hover {
  background: #d6d6d6;
}

/* Mensagem */
#mensagem {
  text-align: center;
  font-size: 1rem;
  opacity: 0.8;
}

/* Painel do Barbeiro */
.filtros {
  display: flex;
  gap: 12px;
}

.filtros button {
  flex: 1;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}

/* Cartão de agendamento */
.agendamento {
  border: 1px solid #222;
  border-radius: 10px;
  padding: 18px 22px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #141414;
  transition: 0.3s;
}

.agendamento:hover {
  border-color: #ffffff;
}

.agendamento strong {
  font-size: 1.1rem;
  font-weight: 500;
}

.agendamento small {
  opacity: 0.65;
}

select{
  appearance: none;
  -webkit-apparence: none;
  -moz-appearance: none;
}

select option{
  background: #0f0f0f;
  color: #fff;
  padding: 12px;
  border: none;
}

select option:checked{

  background: #222;
  color: #fff;

}

select{
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  backgrounf-size: 18px;
  padding-right: 35px;
}